@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 14px;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
}

.Movies {
  margin-bottom: 24px;
}

.Movies select {
  appearance: none;
  background: white;
  font-size: 14px;
  margin-left: 12px;
  border-radius: 4px;
  padding: 6px 24px;
}

.ShowCase {
  margin: 0 0 48px;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: large;
  justify-content: center;
  padding: 12px;
  border-radius: 4px;
  color: #7e7e7e;
}

.ShowCase li {
  margin: 0 12px;
}

.Cinema {
  margin-bottom: 18px;
  perspective: 300px;
  display: grid;
  place-items: center;
  grid-gap: 164px;
}

.Cinema .screen {
  height: 100px;
  background: white;
  width: 100%;
  transform: rotateX(-20deg) scale(0.8);
  box-shadow: 0 3px 10px 2px;
}

.Cinema .seats {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(8, min-content);
  align-items: left;
  transform: scale(2.0);
  margin-bottom: 10px;
}

.Cinema .seats .seat:nth-of-type(8n + 2) {
  margin-right: 12px;
}

.Cinema .seats .seat:nth-of-type(8n + 6) {
  margin-right: 12px;
}

.Cinema .seats .seat:not(.occupied):hover,
.Cinema .seats .seat:not(.occupied):focus {
  cursor: pointer;
  background: #c1eac5;
  transform: scale(1.2);
}

.Cinema .seats .seat.selected::after {
  content: '';
  top: 0;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #7bc47f;
  animation: show-off 0.8s;
  visibility: hidden;
}

@keyframes show-off {
  0% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.seat {
  display: inline-block;
  background: #626262;
  width: 16px;
  height: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease-in-out;
  top: 1px;
}

.seat.selected {
  background: #7bc47f !important;
}

.seat.occupied {
  background: #cfcfcf;
}

.info .count {
  color: #7bc47f;
}

.info .total {
  color: #7bc47f;
}
